fieldset {
  padding: 1em;
  width: 600px;
}

h1 {
color: red;
}

legend {
    font-size: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

label {
  float:left;
  width: 6em;
  margin-right:0.5em;
  padding-top:0.2em;
  text-left:right;
  font-weight:bold;
}

.submit {
    padding: 0.5em;
    padding-left: 7.8em;
}

.submit input {
    
}

.input {
    padding: 0.3em;
}